body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-image {
    background-image: linear-gradient(rgba(50, 4, 255, 0.4), rgba(50, 4, 255, 0.4)), url("61.jpg");
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

#button1 {
    background-color: blueviolet;
    color: white;
    border-radius: 20px;
}
#button2 {
    background-color: mediumvioletred;
    color: white;
    border-radius: 20px;
}

.flexbox {
    text-align: center;
    display: flex;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}

.flexbox div{
    padding: 50px;
}
.ss{
    text-align: center;
}
.bluehr {
    width: 30px;
    border: 2px solid blue;
}

.container {
    text-align: center;
    background-image: linear-gradient(rgba(50, 4, 255, 0.4), rgba(50, 4, 255, 0.4)), url("13.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.text {
    padding: 25px;
    color: white;
}

.divi{
    background-color: rgb(243, 243, 243);
}
.anotherContainer {
    padding: 40px;
    display: flex;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}
.foto {
    padding-left: 50px;
    padding-right: 50px;
}

.foto img{
    height: 350px;
    width: 400px;
}

.teksti {
    padding-left: 50px;
    padding-right: 50px;
}

.teksti button{
    background-color: blueviolet;
    color: white;
    border-radius: 20px;
    border: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    cursor: pointer;
}

.ExecutiveTeam{
    text-align: center;
}

.howWeWork{
    color: blue;
}

#fotoja{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.footer {
    text-align: center;
    background-image: linear-gradient(rgba(50, 4, 255, 0.4), rgba(50, 4, 255, 0.4)), url("78.jpg");
    height: 87%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.growth img{
    width: 500px; 
    height: 150px;
    padding-top: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}
.grid-item {
    padding: 20px;
    text-align: center;
}

.footer .flexbox div{
    padding: 30px;
}
.inline{
    display: inline;
    vertical-align: middle;
}

.grid-item h4{
    color: white;
}